<div class="card-body p-5 text-center" style="text-align: center; height: 600px;">
    <h1>the email or password is incorrect</h1>
    <a href="/login" class="text-white-50 fw-bold" style="color: black !important;"> Let´s Go Login!</a>
</div>